// Layout
//
// .floatLeft -   float: left
// .floatRight -   float: right
// .clearBoth -   clear: both
// .clearLeft -   clear: left
// .clearRight -   clear: right
// .overflowHidden -   overflow: hidden
// .overflowScroll -   overflow: scroll
// .overflowXHidden -   overflow-x: hidden
// .overflowXScroll -   overflow-x: scroll
// .overflowYHidden -   overflow-y: hidden
// .overflowYScroll -   overflow-y: scroll
//
// Style guide: Layout

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearBoth {
  clear: both;
}

.clearLeft {
  clear: left;
}

.clearRight {
  clear: right;
}

.overflowHidden {
  overflow: hidden;
}

.overflowScroll {
  overflow: scroll;
}

.overflowXHidden {
  overflow-x: hidden;
}

.overflowXScroll {
  overflow-x: scroll;
}

.overflowYHidden {
  overflow-y: hidden;
}

.overflowYScroll {
  overflow-y: scroll;
}
