// Alignment
//
// .textRight -   text-align: right
// .textLeft -    text-align: left
// .textCenter -  text-align: center
//
// Style guide: Text.Alignment

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}
