// Decoration
//
// .decoOverLine -   text-decoration: overline
// .decoLineThrough -   text-decoration: line-through
// .decoUnderline -   text-decoration: underline
//
// Style guide: Text.Decoration

.decoOverLine {
  text-decoration: overline;
}

.decoLineThrough {
  text-decoration: line-through;
}

.decoUnderline {
  text-decoration: underline;
}
