// Vertical align
//
// .vaTop -   vertical-align: top
// .vaMiddle -   vertical-align: middle
// .vaBottom - vertical-align: bottom
// .vaBase - vertical-align: baseline
//
// Style guide: Text.Alignment

.vaTop {
  vertical-align: top;
}

.vaMiddle {
  vertical-align: middle;
}

.vaBottom {
  vertical-align: bottom;
}

.vaBase {
  vertical-align: baseline;
}
