// White space
//
// .nowrap -   white-space: nowrap
// .pre -   white-space: pre
// .preLine -   white-space: pre-line
//
// Style guide: Text.Alignment

.nowrap {
  white-space: nowrap;
}

.pre {
  white-space: pre;
}

.preLine {
  white-space: pre-line;
}
