// Display
//
// .displayInline -    display: inline
// .displayInlineBlock -     display: inline-block
// .displayBlock -   display: block
// .displayTable -   display: table
// .displayNone -   display: none
// .visibile -     visibility: visible
// .nonVisibile -    visibility: hidden
//
// Style guide: Display

.displayInline {
  display: inline;
}

.displayInlineBlock {
  display: inline-block;
}

.displayBlock {
  display: block;
}

.displayTable {
  display: table;
}

.displayNone {
  display: none;
}

.visibile {
  visibility: visible;
}

.nonVisible {
  visibility: hidden;
}