// Position
//
// .relative -    position: relative
// .absolute -     position: absolute
// .fixed -   position: fixed
// .zIndexMinus1 -    z-index: -1
// .zIndex1 -     z-index: 1
// .zIndex2 -     z-index: 2
// .left0 -   left: 0
// .left100 -   left: 100%
// .right0 -   right: 0
// .right100 -   right: 100%
// .top0 -   top: 0
// .top100 -   top: 100%
// .bottom0 -   bottom: 0
// .bottom100 -   bottom: 100%
//
// Style guide: Position

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.zIndexMinus1 {
  z-index: -1;
}

.zIndex1 {
  z-index: 1;
}

.zIndex2 {
  z-index: 2;
}

.left0 {
  left: 0;
}

.top0 {
  top: 0;
}

.bottom0 {
  bottom: 0;
}

.right0 {
  right: 0;
}

.left100 {
  left: 100%;
}

.top100 {
  top: 100%;
}

.bottom100 {
  bottom: 100%;
}

.right100 {
  right: 100%;
}