// Dimensions
//
// .width100 -  width: 100%
// .width50 -   width: 50%
// .width0 -   width: 0
// .maxWidth100 -   max-width: 100%
// .height100 -  height: 100%
// .height50 -   height: 50%
// .height0 -   height: 0
//
// Style guide: Dimensions

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.width0 {
  width: 0;
}

.maxWidth100 {
  max-width: 100%;
}

.height100 {
  height: 100%;
}

.height50 {
  height: 50%;
}

.height0 {
  height: 0;
}